examples/MKR-1500/MQTT/chirpers-flow.json
[{"id":"5199e666.cafc58","type":"mqtt-broker","z":"91xN7kD2zjI","server":"wss://iot.eclipse.org:443/ws","clientId":"","username":"","password":""},{"id":"SDgXjXm8EXM","type":"mqtt in","z":"91xN7kD2zjI","name":"","topic":"hologram-YOUR-NAME/from","broker":"5199e666.cafc58","x":330,"y":253,"wires":[["7oz7rvrDqtw","y3MxuNrcNhU"]]},{"id":"mib-Z2IUCWQ","type":"inject","z":"91xN7kD2zjI","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":302,"y":66,"wires":[["TCHX2DIYKn4"]]},{"id":"TCHX2DIYKn4","type":"mqtt out","z":"91xN7kD2zjI","name":"","topic":"hologram-YOUR-NAME/to","broker":"5199e666.cafc58","x":533,"y":115,"wires":[]},{"id":"7oz7rvrDqtw","type":"espeak","z":"91xN7kD2zjI","name":"","variant":"Alex","active":false,"x":531,"y":219,"wires":[]},{"id":"y3MxuNrcNhU","type":"debug","z":"91xN7kD2zjI","name":"","active":true,"console":"false","complete":"false","x":553,"y":293,"wires":[]},{"id":"hknJ5yqYo-E","type":"inject","z":"91xN7kD2zjI","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":301,"y":161,"wires":[["TCHX2DIYKn4"]]},{"id":"K1RAF7aNi1g","type":"voice rec","z":"91xN7kD2zjI","name":"","x":279,"y":114,"wires":[["TCHX2DIYKn4"]]}]
